.logo {
    float: right;
    padding-right: 50px;
    width: 200px;
    height: 250px;
}

.logo:hover {
  transition: 0.5s;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

body {
    font-family: "Black Han Sans", sans-serif;
    background-color: #DC4439;
}

.header {
    color: white;
    font-size: 70px;
    text-align: center;
    padding-top: 200px;
    position: absolute;
    width: 200%; /* changed */
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    transform: translateX(0em);
    animation: scroll-left 3s linear infinite; /* changed */
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    
}

@keyframes scroll-left {
    0%   {
    transform: translateX(0em); /* changed */		
    }
    100% {
    transform: translateX(-7.2em); /* changed */
    }
}

.body {
    font-family: "Roboto", sans-serif;
    padding-top: 350px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 30px;
    color: white;
    line-height: 25px;
    font-size: 13.5px;
}

.david-tran {
    width: 350px;
    height: 250px;
    padding: 350px 30px 50px 150px;
    float: left;
}

.david-tran2 {
    width: 410px;
    height: 250px;
    padding: 50px 0 50px 50px;
    float: right;
}

.peppers {
    width: 410px;
    height: 250px;
    padding: 50px 50px 50px 0;
    float: left;
}

.contact-content p {
    color: white;
    font-size: 15px;
    text-align: center;
}

.navigation {
    position: fixed; /* Keeps the whole navigation section fixed */
    top: 0;
    width: 100%; /* Spans the full width */
    z-index: 1000; /* Ensures it stays above other elements */
}

  .navigation ul {
    font-size: 25px;
    list-style-type: none;
    overflow: hidden;
}

.navigation li {
    float: left;
}
  
.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #A72E23;
}
  
.navigation li a:hover {
    color: #32C647;
    transition: 0.5s;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}