/* selector { 
    property-name: value;
    another-property-name: value;
  } */

  html {
    font-family: "Roboto Mono", monospace;
    font-size: 11pt
  }

  body {
    margin: 50px 200px 50px 200px;
    background-color: #FAF9F6;
  }

  h1 {
    font-size: 75px;
    padding-left: 500px;
    padding-top: 150px;
  }

  .intro img {
    float: left;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .intro h3 {
    font-size: 15px;
    padding-left: 750px;
  }

  .blurb p {
    padding-top: 50px;
    margin: 0;
    text-align: center;
  }

  .ingredients {
    background-color: #EADDCA;
    border-radius: 25px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.ingredients p {
  padding: 0px 30px 30px 30px;
}

.ingredients h3 {
  font-size: 15px;
  padding: 30px 30px 0px 30px;
}

h2 {
  padding-top: 100px;
  font-size: 30px;
}

.step1 img {
  padding-left: 50px;
  padding-top: 150px;
  float: right;
}

.step3 img {
  padding-left: 50px;
  padding-top: 30px;
  float: right;
}

.step4 img {
  padding-left: 50px;
  padding-top: 175px;
  float: right;
}

.step5 img {
  padding-left: 50px;
  padding-top: 110px;
  float: right;
}

.step5 {
  padding-bottom: 100px;
}